docs/** linguist-vendored
tests/** linguist-vendored
tools/** linguist-vendored
unit/bin/** linguist-vendored
unit/exports/** linguist-vendored
unit/fonts/** linguist-vendored
unit/static/** linguist-vendored