<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <title>Vue 3 简单示例</title>
    <!-- 引入 Vue 3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<!--[Vue 可以通过链接的方式直接导入到一个 HTML 文件中使用](https://lxblog.com/qianwen/share?shareId=b7aac291-c532-44fd-9d37-21b4d66482ff)-->

<div id="app">
    {{ message }} [[ jinja2 ]]
</div>

<script>
    const {createApp} = Vue;

    createApp({
        data() {
            return {
                message: 'Hello Vue 3!'
            }
        }
    }).mount('#app');
</script>
</body>
</html>